{% extends 'base.html.twig' %}
{% block body %}
{% for button in buttons %}
        <button {{ button.attr }} class="btn {{ button.class }} {{ button.position }}">{{ button.label }}</button>    
{% endfor %}    
{{ render(controller('AppBundle:User:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script>
    $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{content|json_encode()}}");
</script>

{% endblock %}
